<meta charset = "UTF-8">
<title><%= %></title>
<link rel="stylesheet" href="/styles/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/styles/bootstrap-theme.min.css" type="text/css">
<link rel="stylesheet" href="/styles/mainstyle.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">