<meta charset = "UTF-8">
<title>MovieDB</title>
<link rel="stylesheet" href="../../public/styles/bootstrap.css" type="text/css">
<link rel="stylesheet" href="../../public/styles/bootstrap-theme.min.css" type="text/css">
<link rel="stylesheet" href="../../public/styles/mainstyle.css" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">