<!DOCTYPE html>
<html lang = "en">
   <head>
     <% include partials/head.ejs %>
   </head>
   <body>
       <% include partials/header.ejs %>
        <div class="main-content row">
         <div class="aside-container col-xs-12 col-sm-10 col-md-4 col-lg-2">
         <div class="aside-row row">
          <aside class="sidebar col-xs-12 col-sm-10 col-md-4 col-lg-2">
          <div class=" block row">
             <h1>Movies</h1>
              <ul>
                <li><a href="">New Releases</a></li>
                <li><a href="">Recently Added</a></li>
                <li><a href="">featured today</a></li>
                <li><a href="">top movies</a></li>
                <li><a href="">trailers</a></li>
                <li><a href="">genres</a></li>
              </ul>
            </div>
            <div class=" block row">
             <h1>TV Shows</h1>
              <ul>
                <li><a href="">New Releases</a></li>
                <li><a href="">Recently Added</a></li>
                <li><a href="">featured today</a></li>
                <li><a href="">top movies</a></li>
                <li><a href="">trailers</a></li>
                <li><a href="">genres</a></li>
              </ul>
            </div>
            <div class=" block row">
             <h1>Games</h1>
              <ul>
                <li><a href="">New Releases</a></li>
                <li><a href="">Recently Added</a></li>
                <li><a href="">featured today</a></li>
                <li><a href="">top movies</a></li>
                <li><a href="">trailers</a></li>
                <li><a href="">genres</a></li>
              </ul>
            </div>
            <div class="block row">
              <ul>
                <li><a href="">Latest News</a></li>
                <li><a href="">Reviews</a></li>
                <li><a href="">Box Office</a></li>
              </ul>
            </div>
          </aside>
           </div>
          </div>
          <div class="main-content2 col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div class="row">
              <h1>Trending Movies</h1>
               <div class="row">
                <% for (var i = 0; i < 6; i++) { %>
                <div class="col-xs-6 col-md-2">
                  <a href="#" class="thumbnail">
                  <img src=<%= infoInput %> alt="...">
                  </a>
                </div>
                <% } %>
              </div>
            </div>
            <div class="row">
              <h1>Trending TV Shows</h1>
               <div class="row">
                <% for (var i = 0; i < 6; i++) { %>
                <div class="col-xs-6 col-md-2">
                  <a href="#" class="thumbnail">
                  <img src=<%= infoInput %> alt="...">
                  </a>
                </div>
                <% } %>
                </div>
            </div>
            <div class="rmb row">
              <h1>Trending Games</h1>
               <div class="row">
                <% for (var i = 0; i < 6; i++) { %>
                <div class="col-xs-6 col-md-2">
                  <a href="#" class="thumbnail">
                  <img src=<%= infoInput %> alt="...">
                  </a>
                </div>
                <% } %>
                </div>
            </div>
          </div>
        </div>
        <footer class="row">
          <% include partials/footer.ejs %>
       </footer>
     </div>
      <% include partials/scripts.ejs %>
   </body>

</html>
