<!DOCTYPE html>
<html lang = "en">
   <head>
      <% include partials/head.ejs %>
   </head>
   <body>
     <% include partials/header.ejs %>
        <div class="movie-genre row">
         <div class="genre-container">
         <div class="row">
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>action</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>Horror</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>animation</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>fantasy</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>romance</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>comedy</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>thriller</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>drama</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>Documentary</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
           <div class="rg col-lg-6"><div class="row"><a href=""><h1>classic</h1><div class="overlay"></div><img src="../public/img//Looper.jpg" alt=""></a></div></div>
         </div>
          </div>
       </div>
        <footer class="row">
          <% include partials/footer.ejs %>
       </footer>
     </div>
      <% include partials/scripts.ejs %>
   </body>

</html>
