@font-face {
  font-family: Magnitude;
  src: url("../fonts/magnitude-regular.otf") format("opentype"); }

@font-face {
  font-family: Magnitude;
  font-weight: bold;
  src: url("../fonts/magnitude-bold.otf") format("opentype"); }

@font-face {
  font-family: Magnitude;
  font-weight: light;
  src: url("../fonts/magnitude-light.otf") format("opentype"); }

@font-face {
  font-family: Azedo;
  font-weight: bold;
  src: url("../fonts/Azedo-Bold.otf") format("opentype"); }

@font-face {
  font-family: Moderne-Sans;
  font-weight: light;
  src: url("../fonts/Moderne-Sans.ttf") format("truetype"); }

body {
  overflow-x: hidden;
  background-color: black; }

h1, h2, h3, h4, h5 {
  color: white;
  font-family: "Magnitude";
  font-weight: 0; }

p, span {
  color: white; }

a {
  color: white;
  padding: 0;
  font-family: "magnitude";
  font-weight: 0; }
  a:hover {
    color: #c0392b; }

.search-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.96);
  overflow: hidden;
  display: none;
  padding: 4em 4em 4em 4em; }
  .search-overlay .search-box-container {
    padding: 9em 0em 0em 20%;
    overflow: hidden; }
    .search-overlay .search-box-container .search-box {
      width: 100%; }
      .search-overlay .search-box-container .search-box .search-input-group {
        border: none;
        border-radius: 0;
        background-color: transparent;
        margin: 0 auto; }
        .search-overlay .search-box-container .search-box .search-input-group input[type=text] {
          font-size: 7em;
          background-color: transparent;
          height: 2em;
          border: none;
          border-bottom: 1px solid rgba(192, 57, 43, 0.92);
          outline: none;
          color: rgba(192, 57, 43, 0.92); }
        .search-overlay .search-box-container .search-box .search-input-group ::-webkit-input-placeholder {
          color: rgba(192, 57, 43, 0.32); }
        .search-overlay .search-box-container .search-box .search-input-group .input-button {
          overflow: hidden; }
          .search-overlay .search-box-container .search-box .search-input-group .input-button:hover > button {
            color: white;
            text-indent: 0.5em; }
          .search-overlay .search-box-container .search-box .search-input-group .input-button button {
            border-radius: 0;
            height: 4em;
            color: rgba(192, 57, 43, 0.92);
            font-size: 49px;
            padding: 0em 1em;
            border: 0;
            background-color: transparent;
            appearance: none;
            outline: none;
            transition: 0.2s ease-in-out;
            font-weight: bolder;
            overflow: hidden; }

.show_search-overlay {
  display: block;
  opacity: 1; }

.navbar {
  margin-bottom: 0px;
  background-color: black; }
  .navbar .container-fluid a {
    color: white;
    font-size: 1.6em;
    transition: 0.2s ease-in-out; }
    .navbar .container-fluid a:hover, .navbar .container-fluid a:focus, .navbar .container-fluid a:active {
      background-color: transparent;
      color: #c0392b; }
  .navbar .container-fluid .navbar-header .navbar-brand {
    line-height: 0;
    font-family: azedo;
    font-size: 3.9em;
    color: #c0392b;
    padding-left: 0em;
    border-bottom: 0px solid transparent; }
    .navbar .container-fluid .navbar-header .navbar-brand:hover, .navbar .container-fluid .navbar-header .navbar-brand:active, .navbar .container-fluid .navbar-header .navbar-brand:focus {
      background-color: transparent;
      color: white; }
  .navbar .container-fluid .navbar-collapse .navbar-right {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px; }
    .navbar .container-fluid .navbar-collapse .navbar-right li {
      background: black; }
      .navbar .container-fluid .navbar-collapse .navbar-right li:nth-child(1) a {
        border-left: 1px solid #c0392b; }
      .navbar .container-fluid .navbar-collapse .navbar-right li a {
        color: #c0392b;
        line-height: 1.3;
        font-size: 1.48em;
        border-right: 1px solid #c0392b; }
        .navbar .container-fluid .navbar-collapse .navbar-right li a:hover, .navbar .container-fluid .navbar-collapse .navbar-right li a:focus, .navbar .container-fluid .navbar-collapse .navbar-right li a:active {
          color: white; }

.navbar-fixed-top {
  border-bottom: 1px solid #c0392b; }

.sidebar-wrapper {
  padding-top: 3.9em; }
  .sidebar-wrapper .sidebar {
    min-width: 20em; }
    .sidebar-wrapper .sidebar .sidebar-list {
      border-right: 1px solid #c0392b;
      border-bottom: 1px solid #c0392b;
      margin-left: -1em; }
      .sidebar-wrapper .sidebar .sidebar-list h2 {
        padding: 0em 0em;
        background-color: transparent;
        border-radius: 15px;
        font-size: 1.8em;
        width: 10em;
        text-indent: 0.6em;
        color: #c0392b;
        font-weight: 700;
        text-transform: uppercase; }
        .sidebar-wrapper .sidebar .sidebar-list h2:nth-child(8) {
          background-color: transparent; }
      .sidebar-wrapper .sidebar .sidebar-list hr {
        border-color: #c0392b;
        width: 100%; }
      .sidebar-wrapper .sidebar .sidebar-list li {
        overflow: hidden;
        text-indent: 1.2em; }
        .sidebar-wrapper .sidebar .sidebar-list li a {
          color: white;
          font-size: 1.4em;
          transition: 0.1s ease-in-out;
          transition: 0.2s ease-in-out;
          text-transform: uppercase;
          transition: 0.1s ease-in-out; }
          .sidebar-wrapper .sidebar .sidebar-list li a:hover, .sidebar-wrapper .sidebar .sidebar-list li a:active, .sidebar-wrapper .sidebar .sidebar-list li a:focus {
            background-color: transparent;
            color: #c0392b;
            text-indent: 1.4em; }
  .sidebar-wrapper .main {
    height: 100vh;
    background-color: rgba(14, 14, 14, 0); }
    .sidebar-wrapper .main .extra {
      margin: 0 auto; }
      .sidebar-wrapper .main .extra .row {
        margin: 0 auto; }
        .sidebar-wrapper .main .extra .row div a {
          position: relative; }
          .sidebar-wrapper .main .extra .row div a:hover > div {
            opacity: 1; }
          .sidebar-wrapper .main .extra .row div a div {
            background-color: rgba(0, 0, 0, 0.8);
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
            font-family: "magnitude";
            font-weight: 100;
            font-size: 1.2em;
            color: white;
            opacity: 0;
            transition: 0.2s ease-in-out; }
      .sidebar-wrapper .main .extra h2 {
        margin: 0;
        padding: 0;
        padding: 0.6em 0em 1em 0em;
        background-color: transparent;
        font-size: 2.2em;
        color: #c0392b;
        font-weight: 700; }
      .sidebar-wrapper .main .extra > div + h2 {
        padding-top: 1em; }

@media screen and (min-width: 0em) {
  .sidebar-wrapper {
    padding-top: 3.9em; }
    .sidebar-wrapper .sidebar {
      min-width: 20em; }
      .sidebar-wrapper .sidebar .sidebar-list {
        border-right: 0px solid black; } }

@media screen and (min-width: 787px) {
  .sidebar-wrapper {
    margin: 0; }
    .sidebar-wrapper .sidebar {
      margin-left: 0px; }
      .sidebar-wrapper .sidebar .sidebar-list {
        margin-left: 0px;
        border-right: 1px solid #c0392b; } }

/*# sourceMappingURL=mainstyle.css.map */